<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider bar bar-calm">
                Access your review
            </div>
            <div class="item item-text-wrap">
                <p>Access the report of your activity and the statistics compute thanks to all the data you've saved in the application.</p>
                <br>
                <p class="center"><a ui-sref="review"><button class="button button-energized">Review</button></a></p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-text-wrap">
                <div class="row row-center">
                    <div class="col">
                        <button class="button button-block button-assertive" ng-click="deleteItem({{item.idTask}})">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!--

        <div class="list card" ng-init="init()">
            <div class="item item-text-wrap" ng-repeat="item in collectionList | filter:search">
                <div class="row row-center">
                    <div class="col">
                        <h2>{{item.categoryName}}</h2>
                        <p>{{item.taskName}}</p>
                        <p>{{item.date}} - {{item.durationHours}}h{{item.durationMinutes}}m</p>
                    </div>
                    <div class="col">
                        <button class="button button-block button-assertive" ng-click="deleteItem({{item.idTask}})">Delete</button>
                        <button class="button button-block button-calm">Update</button>
                    </div>
                </div>
            </div>
        </div>

    -->
    </ion-content>
</ion-view>
