<ion-view view-title="Box">
    <ion-content class="padding" ng-init="init()">
        {{collectionList}}
        <div class="card">
            <!--
            <div class="item item-divider bar bar-calm">
                Access your review
            </div>
        -->
            <div class="item item-text-wrap">
                <p>Access the report of your activity and the statistics compute thanks to all the data you've saved in the application.</p>
                <br>
                <p class="center"><a ui-sref="review"><button class="button button-energized">Review</button></a></p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-text-wrap">
                <div class="row row-center">
                    <div class="col">
                        <button class="button button-block button-calm" ng-click="play(1)">Je m'appelle Lopez, Joe</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
